<md-card *ngIf="question !questionLoading" class="question-card">
  <md-card-header>
    <div md-card-avatar class="poop-image"></div>
    <md-card-title>Is this bullshit?</md-card-title>
    <md-card-subtitle>{{question?.author}}</md-card-subtitle>
  </md-card-header>
  <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
  <md-card-content>
    <p>
      {{question?.question}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button type="button" (click)="respondQuestion(false)">Truth</button>
    <button md-raised-button type="button" (click)="respondQuestion(true)">Bullshit!</button>
  </md-card-actions>
</md-card>

<md-card *ngIf="noQuestions && !questionLoading" class="question-card">
  <md-card-content>
    <p>
      No more bullshit for you :(
    </p>
  </md-card-content>
</md-card>

<div class="get-question-buttons" *ngIf="!question && !questionLoading">
    <button *ngIf="!question" md-raised-button type="button" (click)="loadQuestion()">{{noQuestions ? 'Check for new bullshit' : 'Get bullshit!'}}</button>
</div>

<md-spinner *ngIf="questionLoading" style="margin:0 auto;" ></md-spinner>