<md-card *ngIf="question" class="question-card">
  <md-card-header>
    <div md-card-avatar class="poop-image"></div>
    <md-card-title>Is this bullshit?</md-card-title>
    <md-card-subtitle>{{question?.author}}</md-card-subtitle>
  </md-card-header>
  <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
  <md-card-content>
    <p>
      {{question?.question}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button type="button" (click)="respondQuestion(false)">Truth</button>
    <button md-raised-button type="button" (click)="respondQuestion(true)">Bullshit!</button>
  </md-card-actions>
</md-card>

<div class="response-buttons" *ngIf="!question">
    <button *ngIf="!question" md-raised-button type="button" (click)="loadQuestion()">Get bullshit!</button>
</div>