<mat-card *ngIf="question && !questionLoading" class="question-card">
  <mat-card-header>
    <div mat-card-avatar class="poop-image"></div>
    <mat-card-title>Is this bullshit?</mat-card-title>
    <mat-card-subtitle>By {{question?.creator?.name}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="assets/img/examples/shiba2.jpg"> -->
  <mat-card-content>
    <p>
      {{question?.question}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="button" (click)="respondQuestion(false)">Truth</button>
    <button mat-raised-button type="button" (click)="respondQuestion(true)">{{bullshitWord ? bullshitWord.value : 'Bullshit'}}</button>
    <button mat-icon-button type="button" (click)="report()">
      <mat-icon fontSet="fontawesome" fontIcon="fa-plus" aria-label="Report bad item"></mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer *ngIf="bullshitWord" class="bs-footer" >
    {{bullshitWord.value}} is {{bullshitWord.language}} for "bullshit"
  </mat-card-footer>
</mat-card>

<mat-card *ngIf="noQuestions && !questionLoading" class="question-card">
  <mat-card-content>
    <p>
      No more bullshit for you :(
    </p>
  </mat-card-content>
</mat-card>

<div class="get-question-buttons" *ngIf="!question && !questionLoading">
    <button *ngIf="!question" mat-raised-button type="button" (click)="loadQuestion()">{{noQuestions ? 'Check for new bullshit' : 'Get bullshit!'}}</button>
</div>

<mat-spinner *ngIf="questionLoading" style="margin:0 auto;" ></mat-spinner>