<p>
  This small app is a result of experimenting and playing around with some of the best technologies and practices available.
  While many of them are not exactly the first choices for an app of this scale 
  (for example Spring Boot is comparably heavy-weight for what it's used here),
  every one of them are some of the best tools in their league.

  You can find code and more info on how it all works here:
  <a href="https://bitbucket.org/teraxas/bullshit-app" target="_blank" >Bitbucket repository</a>
</p>
<p class="fill" >
  <a href="https://angular.io" target="_blank" mdTooltip="Angular UI framework" mdTooltipPosition="below" >
    <img src="/assets/logos/angular-logo.png" >
  </a>
  <a href="https://www.typescriptlang.org/" target="_blank" mdTooltip="Typescript language" mdTooltipPosition="below" >
    <img src="/assets/logos/ts-logo.png" >
  </a>
  <a href="https://projects.spring.io/spring-boot/" target="_blank" mdTooltip="Spring Boot - Spring with sensible defaults" mdTooltipPosition="below" >
    <img src="/assets/logos/spring-boot-logo.png" >
  </a>
  <a href="http://www.vavr.io/" target="_blank" mdTooltip="Java functional API the way it should be (ex-Javaslang)" mdTooltipPosition="below" >
    <img src="/assets/logos/vavr-logo.png" >
  </a>
  <a href="http://reactivex.io/" target="_blank" mdTooltip="Cross-platform async API" mdTooltipPosition="below" >
    <img src="/assets/logos/reactivex-logo.png" >
  </a>
  <a href="https://heroku.com" target="_blank" mdTooltip="A hosting platform where this app is hosted" mdTooltipPosition="below" >
    <img src="/assets/logos/heroku-logo.png" >
  </a>
</p>