.navbar {
    color: rgba(255, 255, 255, 0.87);
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 18pt;
    font-weight: bold;
    height: 50px;
    vertical-align: center;
    line-height: 45px;
    text-align: center;
}

.navbar-title {
    position: relative;
    left: 20px;
    font-size: 30pt;
    font-weight: bold;
    float: left;
}

@media only screen and (max-width: 450) {
    .navbar-title {
        font-size: 20pt;
    }
}

.navbar-button {
    display: inline-block;
    position: relative;
    left: 20px;
    font-size: 12pt;
    font-weight: bold;
    float: left;
    vertical-align: center;
    padding-left: 15px;
    transition: all .5s ease;
}

.navbar-button:hover {
    font-size: 15pt;
    font-weight: bolder;
    cursor: pointer;
}

.navbar-title::after {
    position: relative; 
    font-size: 12pt;
    font-weight: bolder;
}

.content {
    background-color: lightgrey;
    position: absolute;
    align-content: center;
    text-align: center;
    padding: 10px;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidenav-fab-container {
    height: 100vh;
    widows: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidenav-fab-container md-sidenav {
    background-color: black;
    color: lightgray;
    max-width: 80vw;
    width: 300px;
    padding: 3px 3px 3px 3px;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container md-sidenav {
    display: flex;
    overflow: visible;
}

.sidenav-title {
    padding-top: 10px;
    font-size: 25pt;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.sidenav-content {
    padding-top: 10px;
}

.scrolling-content {
    /* overflow: auto; */
    height: 100%;
    width: 100%;
}

.fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
}