<md-sidenav-container fullscreen class="sidenav-fab-container">
  <md-sidenav #sidenav mode="push" opened="false">
    <div>
      <div class="sidenav-title">
        {{sidenavView}}
      </div>
      <div [ngSwitch]="sidenavView" class="sidenav-content">
        <app-about *ngSwitchCase="'ABOUT'"></app-about>
        <app-stats *ngSwitchCase="'STATS'"></app-stats>
      </div>
    </div>
  </md-sidenav>
  <div class="navbar mat-elevation-z6">
    <div class="navbar-title">
      Bullshit!
    </div>
    <div class="navbar-button" (click)="sidenav.toggle(); sidenavView = 'STATS';">
      STATS
    </div>
    <div class="navbar-button" (click)="sidenav.toggle(); sidenavView = 'ABOUT';">
      ABOUT
    </div><div class="navbar-button" (click)="forgetMe()">
      FORGET
    </div>
  </div>
  <div class="content">
    <app-question></app-question>
  </div>
</md-sidenav-container>