/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


@media screen and (max-width: 450) {
    .mat-dialog-container {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
    }
}


.mat-dialog-content {
    max-height: 90vh !important;
}

.mat-dialog-container {
    /* width: 100%;
    height: 100%; */
    max-width: 100vw;
    max-height: 100vh;
}

.poop-image {
    content:url('./favicon.png');
}

mat-icon {
    padding:40px;
}

.s64 {
    font-size:64px;
}

.s32 {
    font-size:48px;
}

mat-icon.fa {
    display:block;
    padding-left:0px;
}

mat-icon.s32 span {
    padding-left:8px;
}